Repository JuliaRegistries/RegistryCI.jl, pull requests merged in 2025-09, with the labels that each got.

#620 AutoMerge: update CI to match checks
  .github/workflows/ci_integration.yml
  .github/workflows/ci_unit.yml
Labels: merge me

#614 AutoMerge: Refactor parsing of registry toml files.
  AutoMerge.jl/src/dependency_confusion.jl
  AutoMerge.jl/src/guidelines.jl
  AutoMerge.jl/src/jll.jl
  AutoMerge.jl/src/package_path_in_registry.jl
  AutoMerge.jl/src/semver.jl
  AutoMerge.jl/src/toml.jl
  AutoMerge.jl/src/util.jl
Labels: merge me

#606 AutoMerge: Try loading packages for lowest and highest compatible Julia versions
  AutoMerge/Project.toml
  AutoMerge/src/AutoMerge.jl
  AutoMerge/src/guidelines.jl
  AutoMerge/src/juliaup.jl
  AutoMerge/test/automerge-unit.jl
  AutoMerge/test/templates/feature_7/jll/H/HelloWorldC_jll/Compat.toml
  docs/src/guidelines.md
Labels: merge me

#605 RegistryCI: If key is `yanked`, test that the value is exactly `true` (not `"true"`)
  RegistryCI/Project.toml
  RegistryCI/src/registry_testing.jl
  RegistryCI/test/registryci_registry_testing.jl
Labels: breaking change, registry consistency tests, merge me

#609 AutoMerge: Add diff links to AutoMerge comments for new package versions
  AutoMerge/src/guidelines.jl
  AutoMerge/src/pull_requests.jl
  AutoMerge/src/types.jl
  AutoMerge/src/util.jl
  AutoMerge/test/automerge-unit.jl
Labels: needs review
